@import "../abstracts/variables";

.weather-page {
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-image: url("../../../public/sky.png");
    background-size: cover;
    background-position: center;
    background-color: rgba(102, 166, 255, 0.2);
    background-blend-mode: overlay;
  }
  max-width: 1048px;
  margin: 0 auto;
  padding-bottom: 2rem;

  .weather-page-title {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1.5rem;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .weather-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 1.25rem;
    color: $text-primary;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 20px;
  }

  .weather-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
    margin-top: 24px;

    @media (min-width: 1024px) {
      grid-template-columns: 2fr 1fr;
    }

    .main-charts {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .side-panel {
    }
  }
}
